[program:{{ name_project }}]
command = /home/vagrant/gunicorn_start                   ; Command to start app
user = root                                              ; User to run as
stdout_logfile = /home/vagrant/gunicorn_supervisor.log   ; Where to write log messages
redirect_stderr = true                                   ; Save stderr in the same log
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8